body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    text-align: center;
    z-index: 1;
}

.game {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	width: 205px;
	height: 205px;
	padding: 10px; /* or 5px 2px */
	/*border: 10px solid #c3c3c3;*/
}

.game div {
	box-sizing: border-box;
	background-color: #e8e8e8;
	margin: 3px;
	width: 28px;
	height: 28px;
	border-radius: 100px;
}

.game-over, .game-win {
	z-index: 100;
	position: absolute;
	width: 100%;
	height: 100%;
	flex-direction: column;
    justify-content: center;
    align-items: center;	
	color: #000;
	font-size: 2rem;
	font-weight: bold;
	display: none;
	animation: .5s ease-in opacityLvl;
}

.game-over {
	background-color: rgb(255,36,0);
}

.game-win {
	background-color: rgb(51,51,153);
}

.game-over button, .game-win button{
	border: none;
	outline: none;
	font-family: inherit;
	background-color: #fff;
	width: 300px;
	padding: 10px;
	font-size: 1rem;
	cursor: pointer;
}

@keyframes opacityLvl {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
